@charset "utf-8";

/* HEADER */



#header {
	width: 100%;
	height: 320px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}


#headercontent {
	width: 1070px;
	height: 320px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 6px;
	padding-bottom: 26px;
}


/* CONTENT */

#contencuerpo {
	background-image: url(../images/contentbg.png);
	width: 100%;
	height:110px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: static;
	visibility: visible;
	left: 24px;
	top: 283px;
}

.contentmenu{
	width:1070px;
	float: left;
	height:110px;
	
}



.menuhome{
	width:570px;
	float:left;
	height:110px;
	text-align: right;
	margin-top:20px;
}

.binicio{
	width:80px;
	height:110px;
	margin-left:510px;
	float:left;
}
.bempresa{
	width:80px;
	float:left;
}

.bindustrial{
	width:80px;
	float:left;
}

.bgrafico{
	width:80;
	float:left;
}

.badicional{
	width:90px;
	float:left;
}

.bclientes{
	width:80px;
	float:left;
}
.bcontactenos{
	width:80px;
	float:left;
}
/* fin menu */


#content {
	
}


/* FOOTER */

#contenido {
	width:1070px;
	margin:auto;
	margin-top:0px;
}

#footer{
	width:1070px;
	margin:auto;
	margin-top:300px;
}

.contenidofooter1{
	width:810px;
	margin-top:0px;
	float: left;
	
}

.contenidofooter2{
	background-image:url(../images/f_negro.jpg);	
	width:260px;
	height:110px;
	margin-top:0px;
	float: right;
	
}



/* TEXTOS */


.txtfooter{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	line-height: 16px;
	color:#FFF;
	text-align:left;
	margin-left:30px;
	margin-right:20px;
	margin-top:10px;

	







/* ============================= content ====================== */



/*==========================================*/
/* CSS Document */

.bottompane {
	background-color: transparent;
	color: #999;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: lowercase;
	text-decoration: none;
	bottom: 0px;
	padding: 0px;
	line-height: normal;
}

A.bottompane:link {
	text-decoration: none;
	color:#666;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: lowercase;
	bottom: 0px;
}

A.bottompane:visited {
	text-decoration: none;
	color:#999;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: lowercase;
	bottom: 0px;
}

A.bottompane:hover {
	text-decoration: none;
	color:#333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: lowercase;
	bottom: 0px;
}

A.bottompane:active {
	text-decoration: none;
	color:#999;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: lowercase;
	bottom: 0px;
}
