@charset "utf-8";
/* CSS Document */

* {  padding: 0;  
margin: 0;  
border: 0;  
}

#header {
	width:1070px;
	height:35px;
	margin:auto;
	margin-top:0px;
}

#contenido {
	width:1070px;
	margin:auto;
	margin-top:0px;
}


/* menu */

.menu{
	width:150px;
	height:570px;
	float:left;
	text-align: center;
	margin-top: 0px;
}

.binicio{
	width:150px;
	height:80px;
	float:left;
}
.bempresa{
	width:150px;
	float:left;
}

.bindustrial{
	width:150px;
	float:left;
}

.bgrafico{
	width:150;
	float:left;
}

.badicional{
	width:150px;
	float:left;
}

.bclientes{
	width:150px;
	float:left;
}
.bcontactenos{
	width:150px;
	float:left;
}
/* fin menu */


#footer{
	width:1070px;
	margin:auto;
	margin-top:0px;
}

.contenidofooter1{
	width:810px;
	margin-top:0px;
	float: left;
	
}

.contenidofooter2{
	background-image:url(../images/f_negro.jpg);	
	width:260px;
	height:110px;
	margin-top:0px;
	float: right;
	
}

.contenedor{
	width:920px;
	height:570px;
	float: right;
	margin-top: 0px;
}

.c_empresa{
	background-image:url(../images/c_empresa.png);
	width:660px;
	height:570px;
	float: left;
	margin-top: 0px;
}

.c_contacto{
	background-image:url(../images/c_contacto.png);
	width:910px;
	height:570px;
	float: left;
	margin-top: 0px;
}

.c_clientes{
	background-image:url(../images/c_clientes.png);
	width:900px;
	height:570px;
	float: left;
	margin-top: 0px;
}

.c_industrial{
	background-image:url(../images/c_industrial.png);
	width:920px;
	height:570px;
	float: left;
	margin-top: 0px;
}

.i_empresa{
	width:260px;
	height:570px;
	float: left;
	margin-top:15px;
}

.i_grafico{
	background-image:url(../images/c_grafico.png);
	width:260px;
	height:570px;
	float: left;
	
}


.i_gal{
	margin-left:60px;
	margin-top:60px;	
}

.i_industrial{
	width:305px;
	height:475px;
	float: left;	
}


.i_industrial2{
	width:305px;
	height:475px;
	float: left;	
}

.i_industrial3{
	width:305px;
	height:475px;
	float: left;	
}

.mi_1{
	margin-left:40px;
	margin-top:10px;
}

.mi_2{
	margin-left:45px;
	margin-top:60px;
}

.mi_3{
	margin-left:45px;
	margin-top:30px;
}

.menufooter{
	width:520px;
	float:left;
	height:77px;
	text-align: right;
	margin-top:10px;
}

.mcontacto{
	margin-left:100px;
	margin-top:50px;
}

a:link {
	text-decoration:none;
	color: #333;
}
a:visited {
	color: #333;
}
a:hover {
	color: #FFF;
	text-decoration:underline;
}

#contactenos{
	height: auto;
	width:900px;
	clear: both;
	margin-top:50px;
	margin-left:50px;
	
}
#tcontactenos{
	height:100px;
	width:900px;
	clear: both;
	margin-top:20px;
}
.tcontactenos1{
	height:100px;
	width:57px;
	float:left;
	background-image:url(../images/tempresa_r1_c1_s1.png);
}
.tcontactenos2{
	height:100px;
	width:217px;
	float: left;
	background-image: url(../images/tempresa_r1_c2_s1.png);
	background-repeat:repeat-x;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#FFF;
	line-height: 95px;
}
.tcontactenos3{
	height:100px;
	width:626px;
	float: right;
	background-image: url(../images/tempresa_r1_c3_s1_s1.png);
}


/* fin internas */
#mai{
	color:#FFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
}
#mai a:link {
	color: #FC0;
}
#mai a:visited {
	color: #F90;
}
#mai a:hover {
	color: #FFF;
	text-decoration:underline;
}