@charset "utf-8";
/* CSS Document */


.titulos{
	font-size:31px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #06C;
	line-height: 40px;
	margin-top:5px;
	margin-left:45px;
}

.tadicionales{
	font-size:31px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FC0;
	line-height: 40px;
	margin-top:5px;
	margin-left:45px;
}

.tcontacto{
	font-size:31px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #F00;
	line-height: 40px;
	margin-top:5px;
	margin-left:45px;
}

.tclientes{
	font-size:31px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #66C;
	line-height: 40px;
	margin-top:5px;
	margin-left:45px;
}

.tindustrial{
	font-size:31px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #0C0;
	line-height: 40px;
	margin-top:5px;
	margin-left:45px;
}

.tgrafico{
	font-size:31px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #F39;
	line-height: 40px;
	margin-top:5px;
	margin-left:45px;
}


.tblanco{
	font-size:31px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
	line-height: 40px;
	margin-top:15px;
	margin-left:25px;
}

.tblanco2{
	font-size:27px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
	line-height: 40px;
	margin-top:20px;
	margin-left:45px;
}

.tblanco3{
	font-size:26px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
	line-height: 40px;
	margin-top:20px;
	margin-left:53px;
}




.txt {
	font-size:14px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	line-height: 22px;
	text-align: justify;
	margin-left:50px;
	margin-right:50px;
	margin-top:40px;
}

.txti {
	font-size:14px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	line-height: 22px;
	text-align: justify;
	margin-left:50px;
	margin-right:20px;
	margin-top:15px;
}


.txt4 {
	font-size:14px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	line-height: 32px;
	text-align: justify;
	margin-left:30px;
	margin-right:50px;
	margin-top:40px;
}

.txt3 {
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	line-height: 20px;
	text-align: justify;
	margin-left:50px;
	margin-right:50px;
	margin-top:20px;
}

.txtclientes {
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666;
	line-height: 22px;
	text-align: justify;
	margin-left:80px;	
	margin-top:10px;
}

.txco {
	font-size:14px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	line-height: 22px;
	text-align: left;
	
}


.subtitulos{
	font-size:24px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	margin-left:50px;
	margin-top:40px;
}

.subtitulos2{
	font-size:16px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	margin-left:50px;
	margin-top:10px;
}


.txt2{
	font-size:14px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	text-align: justify;
	margin-left:70px;
	
}


.txtfooter{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	line-height: 16px;
	color:#FFF;
	text-align:left;
	margin-left:30px;
	margin-right:20px;
	margin-top:10px;
}


